# Ignore compiled code
dist

# System Files
.DS_Store
Thumbs.db
.vscode
.prettierrc

# Dependency directories
node_modules/
jspm_packages/

# ignore file
package-lock.json

# Optional npm cache directory
.npm