# Ignore source code
src

# System Files
.DS_Store
Thumbs.db

# ignore file
package-lock.json

# ------------- Defaults ------------- #

# gitHub actions
.github

# eslint
eslint.config.js

# typescript
tsconfig.json

# vscode
.vscode

# github
.gitignore

# prettier
.prettierrc

# nodemon
nodemon.json